<!-- header -->
{% include 'header.html' %}
<meta charset="UTF-8">
<main>
    <!-- contenido de la página -->
    {% extends 'principal.html' %}

    {% block content %}
    <h1>{{ profesor.nombre }}</h1>
    <ul>
        <li><strong>id:</strong> {{ profesor.id }}</li>
        <li><strong>Nombre:</strong> {{ profesor.nombre }}</li>
        <li><strong>Curso:</strong> {{ profesor.curso }}</li>
        <li><strong>Email:</strong> {{ profesor.email }}</li>
    </ul>
    {% endblock %}
    <p><a href="{% url 'profesorado_list' %}">Volver a la lista de profesores</a></p>
</main>
