<!DOCTYPE html>
<html>
<!-- header -->
{% include 'header.html' %}

<head>
    <title>Profesorado</title>
</head>

<body>
<h1>Profesorado</h1>
<ul>
    {% for profesor in profesores %}
    {% if profesor.id %}
    <li>
        <a href="{% url 'profesor_detail' pk=profesor.id %}">{{ profesor.nombre }}</a>
        <form method="POST" action="{% url 'profesor_delete' pk=profesor.id %}">
            {% csrf_token %}
            <input type="submit" value="Eliminar">
        </form>
        <form method="POST" action="{% url 'profesor_edit' pk=profesor.id %}">
            {% csrf_token %}
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{ profesor.nombre }}"><br>
            <label for="asignatura">Asignatura:</label><br>
            <input type="text" id="asignatura" name="asignatura" value="{{ profesor.asignatura }}"><br>
            <label for="curso">Curso:</label><br>
            <input type="text" id="curso" name="curso" value="{{ profesor.curso }}"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" value="{{ profesor.email }}"><br><br>
            <input type="submit" value="Editar">
        </form>
    </li>
    {% else %}
    <li>
        {{ profesor.nombre }}
    </li>
    {% endif %}
    {% endfor %}
</ul>

<h2>Agregar Profesor</h2>
<form method="POST">
    {% csrf_token %}
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="nombre"><br>
    <label for="asignatura">Asignatura:</label><br>
    <input type="text" id="asignatura" name="asignatura"><br>
    <label for="curso">Curso:</label><br>
    <input type="text" id="curso" name="curso"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <input type="submit" value="Agregar">
</form>

</body>
</html>
